{% extends 'base.html' %} {% block content %}

<form method="POST" action="/addplaylist">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden'%} {% for error in field.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
  <div>
    {{ field.label.text }} {{ field(placeholder=field.description,
    class="form-control") }}
  </div>
  {% endfor %}
  <button>Create Playlist</button>
</form>

{% for message in get_flashed_messages() %}
<h3>*****</h3>
<h3>{{ message }}</h3>
<h3>*****</h3>
{% if g.user %}
<h3>Add song to playlist</h3>
{% for playlist in playlists %}
<div>
<li>
  <b>{{playlist.name}}</b> <a href="/user/{{ g.user.id }}/playlist/{{ playlist.id }}?artist={{message}}">add</a></p>  
</li>
</div>
{% endfor %}
{% endif %} {% endfor %} {% endblock %}
