{% extends 'base.html' %}{% block content %}
<form method="POST" action="/artist-song" id="user_form">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
  'hidden'%} {% for error in field.errors %}
  <span class="text-danger">{{ error }}</span>
  {% endfor %}
  <div>
    {{ field.label.text }} {{ field(placeholder=field.description,
    class="form-control") }}
  </div>
  {% endfor %}
  <button>Send Query</button>
</form>
<p>OR</p>
<div>
  <a href="/user/{{ g.user.id }}/playlist?create">Create a playlist </a>
</div>
{% for message in get_flashed_messages() %}
<div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %} {% if g.user %}
<div><a href="/user/{{ g.user.id }}/playlists">view your playlists </a></div>
{% endif %} {% endblock %}
